body {
    background: #1a1a1a;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#page {
    background: #242424;
    border-radius: 10px;
    width: 14.8vw;
    height: 21vw;
}
